/*   <style id="vamtam-theme-options"> */

:root {
  --vamtam-default-bg-color: #fff;
  --vamtam-default-line-color: rgba(var(--vamtam-accent-color-7-rgb), 1);
  --vamtam-small-padding: 20px;
  --vamtam-horizontal-padding: 50px;
  --vamtam-vertical-padding: 30px;
  --vamtam-horizontal-padding-large: 60px;
  --vamtam-vertical-padding-large: 60px;
  --vamtam-no-border-link: none;
  --vamtam-border-radius: 0px;
  --vamtam-border-radius-oval: 0px;
  --vamtam-border-radius-small: 0px;
  --vamtam-overlay-color: #ffffff;
  --vamtam-overlay-color-hc: #000000;
  --vamtam-box-outer-padding: 60px;
  --vamtam-body-link-regular: #30373E;
  --vamtam-body-link-visited: #30373E;
  --vamtam-body-link-hover: #CB9274;
  --vamtam-body-link-active: #CB9274;
  --vamtam-body-background-color: #F6F4F2;
  --vamtam-btn-text-color: #051F34;
  --vamtam-btn-hover-text-color: #FFFFFF;
  --vamtam-btn-bg-color: #FFFFFF;
  --vamtam-btn-hover-bg-color: #051F34;
  --vamtam-site-max-width: 1260px;
  --vamtam-primary-font-color: #30373E;
  --vamtam-accent-color-1: #CB9274;
  --vamtam-accent-color-1-hc: #FFFFFF;
  --vamtam-accent-color-1-rgb: 203, 146, 116;
  --vamtam-accent-color-2: #FFFFFF;
  --vamtam-accent-color-2-hc: #000000;
  --vamtam-accent-color-2-rgb: 255, 255, 255;
  --vamtam-accent-color-3: #051F34;
  --vamtam-accent-color-3-hc: #FFFFFF;
  --vamtam-accent-color-3-rgb: 5, 31, 52;
  --vamtam-accent-color-4: #E3DBD4;
  --vamtam-accent-color-4-hc: #000000;
  --vamtam-accent-color-4-rgb: 227, 219, 212;
  --vamtam-accent-color-5: #FFFFFF;
  --vamtam-accent-color-5-hc: #000000;
  --vamtam-accent-color-5-rgb: 255, 255, 255;
  --vamtam-accent-color-6: #000000;
  --vamtam-accent-color-6-hc: #FFFFFF;
  --vamtam-accent-color-6-rgb: 0, 0, 0;
  --vamtam-accent-color-7: #EDEDED;
  --vamtam-accent-color-7-hc: #000000;
  --vamtam-accent-color-7-rgb: 237, 237, 237;
  --vamtam-accent-color-8: #F6F4F2;
  --vamtam-accent-color-8-hc: #000000;
  --vamtam-accent-color-8-rgb: 246, 244, 242;
  --vamtam-sticky-header-bg-color: #FFFFFF;
  --vamtam-primary-font-font-family: 'Montserrat';
  --vamtam-primary-font-font-weight: normal;
  --vamtam-primary-font-font-size-desktop: 18px;
  --vamtam-primary-font-font-size-tablet: 18px;
  --vamtam-primary-font-font-size-phone: 18px;
  --vamtam-primary-font-line-height-desktop: 1.6em;
  --vamtam-primary-font-line-height-tablet: 1.6em;
  --vamtam-primary-font-line-height-phone: 1.6em;
  --vamtam-h1-font-family: 'Sorts Mill Goudy';
  --vamtam-h1-font-weight: normal;
  --vamtam-h1-font-size-desktop: 70px;
  --vamtam-h1-font-size-tablet: 55px;
  --vamtam-h1-font-size-phone: 45px;
  --vamtam-h1-line-height-desktop: 1.2em;
  --vamtam-h1-line-height-tablet: 1.2em;
  --vamtam-h1-line-height-phone: 1.1em;
  --vamtam-h2-font-family: 'Sorts Mill Goudy';
  --vamtam-h2-font-size-desktop: 40px;
  --vamtam-h2-font-size-tablet: 40px;
  --vamtam-h2-font-size-phone: 28px;
  --vamtam-h2-line-height-desktop: 1.5em;
  --vamtam-h2-line-height-tablet: 1.5em;
  --vamtam-h2-line-height-phone: 1.5em;
  --vamtam-h3-font-family: 'Sorts Mill Goudy';
  --vamtam-h3-font-size-desktop: 35px;
  --vamtam-h3-font-size-tablet: 35px;
  --vamtam-h3-font-size-phone: 26px;
  --vamtam-h3-line-height-desktop: 1.5em;
  --vamtam-h3-line-height-tablet: 1.5em;
  --vamtam-h3-line-height-phone: 30px;
  --vamtam-h4-font-family: 'Sorts Mill Goudy';
  --vamtam-h4-font-style: italic;
  --vamtam-h4-font-size-desktop: 30px;
  --vamtam-h4-font-size-tablet: 30px;
  --vamtam-h4-font-size-phone: 30px;
  --vamtam-h4-line-height-desktop: 1.4em;
  --vamtam-h4-line-height-tablet: 1.4em;
  --vamtam-h4-line-height-phone: 1.4em;
  --vamtam-h5-font-family: 'Montserrat';
  --vamtam-h5-font-weight: 600;
  --vamtam-h5-font-size-desktop: 20px;
  --vamtam-h5-font-size-tablet: 20px;
  --vamtam-h5-font-size-phone: 18px;
  --vamtam-h5-line-height-desktop: 1.6em;
  --vamtam-h5-line-height-tablet: 1.6em;
  --vamtam-h5-line-height-phone: 29px;
  --vamtam-h6-font-family: 'Montserrat';
  --vamtam-h6-font-weight: 600;
  --vamtam-h6-transform: uppercase;
  --vamtam-h6-font-size-desktop: 14px;
  --vamtam-h6-font-size-tablet: 14px;
  --vamtam-h6-font-size-phone: 14px;
  --vamtam-h6-line-height-desktop: 1.3em;
  --vamtam-h6-line-height-tablet: 1.3em;
  --vamtam-h6-line-height-phone: 1.3em;
  --vamtam-icon-delivery: '\e908';
  --vamtam-icon-Star-Border: '\e90c';
  --vamtam-icon-Star-Fill: '\e90d';
  --vamtam-icon-confirm: '\e907';
  --vamtam-icon-truck: '\e90e';
  --vamtam-icon-arrow-bottom: '\e900';
  --vamtam-icon-arrow-left: '\e901';
  --vamtam-icon-arrow-right: '\e902';
  --vamtam-icon-arrow-top: '\e903';
  --vamtam-icon-shopping-bag: '\e904';
  --vamtam-icon-side-menu: '\e905';
  --vamtam-icon-close: '\e906';
  --vamtam-loading-animation: url('https://bijoux.vamtam.com/wp-content/themes/bijoux/vamtam/assets/images/loader-ring.gif');
}
